/* Header.css */

.navbar {
    background: none; /* Töröld a háttérszínt a navbar-ról */
}

.home,
.favourites,
.link,
.logOut {
    color: yellow;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: 2px solid yellow;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s; /* Átmeneti effektusok */
}

.home:hover,
.link:hover,
.logOut:hover {
    color: yellow;
    background-color: black;
}
