/* Header.css */

.navbar {
    background: orange;
    height: auto;
    padding: 13px;
}

.home,
.favourites,
.link,
.logOut {
    color: white;
    text-decoration:wavy;
    padding: 10px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.home:hover,
.link:hover,
.favourites:hover,
.logOut:hover {
    color: orange;
    background-color: white;
}

.image1{
    float: left;
    height: 30px;
}

.image2{
    float: right;
    height: 30px;
}

.hidden{
    overflow: hidden;
}