.betu{
    color: white;
}

.betu2{
    color: white;
    text-decoration: underline;
}

.linkszin{
    color: orange;
}

.linkszin2{
    color: black;
}

.linkszin3{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.linkszin4{
    color: black;
}

.button1{
    background-color: green;
    color: white; 
}

.button11{
    background-color: green;
    color: white; 
    float: left;
    margin-top: 8px;
    width: 100px;
}

.button33{
    background-color: grey;
    color: white; 
    float: right;
}

.button2{
    background-color: red;
    color: white;
}

.button3{
    background-color: grey;
    color: white;
}

.button4{
    background-color: grey;
    color: white;
    margin: 5px;
    padding: 5px;
}

.button5{
    background-color: orange;
    color: white;
}

.kedvenc{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.background{
    background-color: black;
    min-height: 680px;
    height: auto;
}

.background2{
    background-color: black;
    min-height: 590px;
    height: auto;
    padding: 40px;
}

.doboz{
    background: orange;
    color: white;
    width: 300px;
    display: inline-block;
    border: 3px solid white;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

.kartya{
    background: grey;
    color: white; 
    margin: 10px;
    border-radius: 25px;
    width: 400px;
    height: 400px;;
    display: inline-block;
    border: 2px solid orange;
}

.kartya2{
    background: grey;
    color: white; 
    margin: 10px;
    border-radius: 25px;
    width: 365px;
    height: auto;
    display: inline-block;
    border: 2px solid orange;
}

.kartya3{
    background: white;
    color: black; 
    margin: 10px;
    border-radius: 25px;
    width: 300px;
    height: auto;
    display: inline-block;
    border: 2px solid orange;
}

.vonal{
    border-bottom: 3px solid white;
}

.in{
    width: 200px;
    height: 20px;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 2px;
    margin-left: 10px;
}

.in2{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
}

.in3{
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    width: 195px;
}

.igazitas1{
    float: left;
    margin-right: 23px;
}

.igazitas2{
    float: left;
    margin-right: 92px;
}

.igazitas3{
    float: left;
    margin-right: 89px;
}

.igazitas4{
    float: left;
    margin-right: 23px;
}

.igazitas5{
    float: left;
    margin-right: 89px;
}

.igazitas6{
    float: left;
    margin-right: 102px;
}

.igazitas7{
    float: left;
    margin-right: 49px;
}

.igazitas8{
    float: left;
    margin-right: 50px;
}

.igazitas9{
    float: left;
    margin-right: 15px;
}

.igazitas10{
    float: left;
    margin-right: 96px;
}

.igazitas11{
    float: left;
    margin-right: 29px;
}